{% extends 'home/base.html' %}
{% load static %}

{% block content%}

    <div class='container-fluid'>
    {% if courses %}
        <table class="table">
            <thead class='font-weight-bold'>
                <td><h5>Course</h5></td>
                <td><h5>Lecturer</h5></td>
                <td><h5>Course Credit</h5></td>
                <td><h5>Description</h5></td>
                <td><h5>Room</h5></td>
                <td><td>
            </thead>
            {% for course in courses %}
            
            <tr>
                <td>{{ course.course }}</td>
                <td>{{ course.lecturer }}</td>
                <td>{{ course.ccredit }}</td>
                <td>{{ course.desc }}</td>
                <td>{{ course.room }}</td>
            </tr>

            {% endfor %}
            
        </table>
    
    {% endif %}
    </div>
    
    
    
{% endblock %}