{% extends 'home/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My Portfolio">

 

  <title>Hello</title>

  <style>

    #footer{
      background: #333;
      color: #fff;
      position: relative;
      height: 50px;
      width: 100%;
      text-align: center;
      clear: both;  
    }
    </style>
    
</head>

<body class="bg-custom1">
  
  {%block content%}


  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <img class="profilepic" src="{% static 'home/images/me.png' %}" width="200" height="300" class="image-fluid" alt="It's me">
      </div>
      <hr>
      <div class="col-12">
        <p class="lead">Algazel Aqilla</p>
      </div>
    </div>
  </div>

  <!-- Jumbotron -->
  <div class="container-fluid">
    <div class="row-jumbotron">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">Paragraph is still underconstruction due to me not having a degree in computer science</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Button</button></a>
      </div>
    </div>
  </div>
  
  <!-- About Me -->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">About me</h1>
      </div>
      <hr>
      <div class="col-12">
        <p class="lead">Just your ordinary cs student</p>
      </div>
    </div>
  </div>

  <!-- Profile -->
  <div class="container-fluid padding" id="profile">
    <div class="row padding">
      <div class="col-lg-6" id="detail">
        <h2>Profile</h2>
        <table class="rounded">
          <tr>
            <td>Name</td>
            <td>: Algazel Aqilla</td>
          </tr>
          <tr>
            <td>Student Id Number</td>
            <td>: 1906353416</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: Maung (CSUI 2019)</td>
          </tr>
          <tr>
            <td>Current Education</td>
            <td>: Student at University of Indonesia</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 col-lg-6">
        <img src="{% static 'home/images/thomsons-gazelle-2 (1).jpg' %}" class="img-fluid" alt="Gazelle">
      </div>
    </div>
  </div>  

  

{% endblock %}
</body>
</html>