{% extends 'home/base.html' %}
{% load static %}


{% block content%}

    <div class='container-fluid'>
    {% if kegiatan %}
        <table class="table">

            <thead class='font-weight-bold'>
            <tr>
                {% for x in kegiatan%}
                    <td><h5>{{x}}</h5></td>  
                {% endfor %}
            </tr>
            </thead>

            {% if person %}
                {% for x in kegiatan%}
                    {% for i in person %}
                        {% if person.activity == x %}
                        <tr>
                            <td>{{ person.name }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    
                    {% comment %} <td><form method='POST'>{% csrf_token %}<input type='submit' href={% url 'add_person' x.pk%} name='course' 
                    value=></input></form></td> {% endcomment %}
                    <td><a class="nav-link" href={% url 'addperson' pk=x.pk %}>Tambah</a>/td>
                    
                {% endfor %}
            {% endif %}

        </table>
    
    {% endif %}
    </div>


            
    
    
{% endblock %}