{% extends 'home/base.html'%}
{% load static %}

{% block content%}

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <form class="col-12">
        <div class="container-fluid">
          <h1>Under Construction</h1>
          <a href="#"><i class="icon-warning-sign"></i></a>
        </div>
      </form>   
    </div>
  </div>

{% endblock %}
