/* Reset */
* {
    margin: 0;
    padding: 0;
    /* So that padding doesnt add actual width of the box */
    box-sizing: border-box;
}

/* Main Styling */
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333333;
    text-decoration: none;
}

h1,h2,h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Utility Classes*/
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

/* Navbar */
#navbar {
    background: #057960;
    color: #FFF8DC;
    overflow: auto;
}

#navbar a {
    color: #FFF8DC;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
    
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #099677;
    color: #f7c08a;
}

/* Showcase */
#showcase {
    background-image: url("/static/home/images/showcase.73b0d35925e9.jpg") no-repeat center center/cover;
    height: 600px;
}