/* Navbar */
.navbar-custom {
    background-color: rgba(83, 46, 22, 0.959);
    color: rgb(245, 180, 106);
}
.nav-link.hover{
    color: rgb(255, 221, 197);

}

.bg-custom1{
    background-color: rgba(175, 120, 68, 0.322);
}

.fa {
    color: rgb(170, 102, 46);
}

#profile{
    background-color: rgba(68, 43, 26, 0.911);
    color: rgb(246, 255, 221);
    max-width: 100%;
}

#detail{
    background-color: rgba(221, 140, 69, 0.575);
    
}
td{
    padding: 10px;
}
.img-fluid {
    max-width: 100%;
    height: auto
}
h1{
    text-align: center;
}







[class*="col-"] {
    padding: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
transition: -webkit-transform 0.5s ease;
transition: transform 0.5s ease;
transition: transform 0.5s ease, -webkit-transform 0.5s ease;
-webkit-backface-visibility: visible;
backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
position: relative;
width: 100%;
height: 60%;
margin: 0!important;
}
.fixed-wrap {
clip: rect(0, auto, auto, 0);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#fixed {
position: fixed;
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
background-position: center center;
-webkit-transform: translateZ(0);
        transform: translateZ(0);
will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/









